{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    {{!-- <style>
        h1 {
            color: black;
        }
    </style>

    <div class="box p-5">
        <h1>USB хабdfshdg Type sefdgdsgsdC 12 в 1 HDMI VGA AUX 3.5 mm</h1>

        <h1>USB хабdfshdg Type sefdgdsgsdC 12 в 1 HDMI VGA AUX 3.5 mm</h1>

        <h2 id="user">USB хабdfshdg Type sefdgdsgsdC 12 в 1 HDMI VGA AUX 3.5 mm</h2>
        <button type="button" class="button">Купити</button>

        <div>
            <p>This is text</p>
        </div>
    </div>

    <footer>
        <p>
            <em>Hello!</em>
        </p>
    </footer> --}}

    {{!-- <div class="card m-5 card-dark">
        <div class="card-body">
            <ul>
                <li class="item">1</li>
                <div class="item">2</div>
                <div class="item">3</div>
                <p class="item">4</p>
                <b class="item">5</b>
            </ul>
        </div>
    </div> --}}

    {{!-- <div class="card p-5 m-5 card-dark">
        <input class="input-dark" required>
        <input class="input-dark" type="number">
    </div>

    <div class="card p-5 m-5 card-dark">
        <img alt="image small card" class="small-img" src="https://picsum.photos/200/300" height="200px">
        <br>
        <button class="btn">put me</button>
        <br>
        <a alt="image small card" class="small btn-secondary big">Click me</a>
    </div>

    <div class="card p-5 m-5">
        <p class="big-text">This is text about me and my company</p>
    </div> --}}

    <div lang="fr" class="card p-5 m-5 card-dark">
        <a class="link" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%BC%D0%B0!">Click me</a>
    </div>

    <div lang="en" id="test" class="card p-5 m-5 card-dark">
        <input >
        <span>Yes!!!</span>
        <button>Test button!</button>
    </div>


    <div lang="en" id="test" class="p-5 m-5 card-dark">
        <button>Test button!</button>
        <button disabled>Disabled button!</button>
    </div>

    <div class="p-5 m-5 card-dark">
        <input class="inp" readonly>
        <div class="mt-5">
            <div>
                <input type="checkbox" checked>
                <span>First</span>
            </div>
            <div>
                <input type="checkbox">
                <span>Second</span>
            </div>
        </div>
    </div>

    <div class="p-5 m-5 card-dark">
        <div>
            <input type="email" required class="valid" placeholder="test">
            <span>Test text</span>
        </div>
        <div class="mt-5">
            <input type="number" min="10" max="555" required class="number">
        </div>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}